{% extends 'index.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/guestbook.css' %}">

<div class="input-container">
    <div class="form row-3">
        <form action="addMessage" method="GET" class="form">
            <label for="name">Prénom et nom:</label>
            <input type="text" id="name" name="name" placeholder="Nom et prenom" maxlength="50" required>
            <label for="adresse-mail">Adresse mail:</label>
            <input type="text" id="adresse-mail" name="email" placeholder="Adresse mail" maxlength="50">
            <label for="commentaire">Votre commentaire:</label><br>
            <textarea name="commentaire" id="commentaire" cols="40" rows="13" maxlength="600" placeholder="Commentaire ..." required></textarea>
            <button type="submit" id="button">Envoyer</button>
        </form>
    </div>
    <div class="guestbook-photo row-9">
        <img src="{% static 'srcs/bg-guestbook.jpg' %}" alt="bg_guestbook">
    </div>
</div>

<div class="line-break">
    <br>
</div>

<div class="comments-container">
    {% for comment in comments %}
        {% if comment.status %}
            <h1>{{ comment.name }}</h1>
            <h3>{{ comment.email }}</h3>
            <p>{{ comment.comment }}</p>
            <p>{{ comment.date}}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}