{% extends 'index.html' %}
{% load static %}

{% block content %}


<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<link rel="stylesheet" href="{% static 'style/peinture.css' %}">

<div id="display-container">
    <img src="" alt="" id="display-container-img">
    <h1 id="display-container-h1">Hello world</h1>
</div>

<div class="peinture-container" id="peintures-container">
        {% for categorie in categories %}
        <div class="peinture-section">
            <h1>{{categorie}}</h1>
            {% for peinture in peintures %}
            {% if peinture.categorie == categorie %}
            <div class="peinture">
                <img src="/static/srcs/{{peinture.photo.name}}" alt="{{peinture.name}}" id="img{{peinture.id}}">
                <h4 id="name{{peinture.id}}">{{peinture.name}}</h4>
            </div>  
            {% endif %}
            {% endfor %}
        </div>
        <div class="linebreak-peinture"></div>
    {% endfor %}
</div>

<script>
    var clicked = true
    document.addEventListener('click', function(e) {
        var container = document.getElementById("display-container")
        var container_img = document.getElementById("display-container-img")
        var container_h1 = document.getElementById("display-container-h1")
        var peinture_container = document.getElementById("peintures-container")
        if (clicked){
            e = e || window.event;
            var target = e.target || e.srcElement
            if (target.tagName == 'IMG'){
                var peinture_name = document.getElementById("name" + target.id[3] + target.id[4])
                clicked = !clicked
                container.style.visibility="visible"
                peinture_container.style.opacity = "0.1"
                container_img.src = target.src
                container_h1.innerHTML = peinture_name.innerHTML
                console.log(screen.width/2, target.naturalWidth/2)
            }
        }
        else {
            container_img.src = ""
            container.style.visibility="hidden"
            peinture_container.style.opacity = "1"
            clicked = !clicked
        }

    }, false);
</script>

{% endblock %}