.expo-container-main {
    width: 70%;
    height: 800px;
    margin-left: 15%;
    margin-top: 3em;
}

.expo-main {
    width: 100%;
    height: 50%;
    /* border: solid 1px black; */
    margin-top: 20px;
}

.expo-main img {
    position: relative;
    float: left;
    object-fit: cover;
    object-position: 50% -20%;
    width: 20%;
    height: 100%;
    /* margin-top: 25px; */
}

.expo-main h1 {
    position: relative;
    float: left;
    padding-left: 20px;
    width: 75%;
}

.expo-main p{
    width: 75%;
    position: relative;
    float: left;
    padding-left: 20px;
}

.expo-main a {
    width: 75%;
    position: relative;
    float: left;
    padding-left: 20px;   
}